[submodule "src/main/proto"]
	path = src/main/proto
	url = https://github.com/zoltanbak/Hermes-Protobuf
[submodule "src/main/java/zb/hermes/util"]
	path = src/main/java/zb/hermes/util
	url = https://github.com/zoltanbak/Hermes-Util
